img {
  width: 100%;
  height: 100%;
}
.description {
  padding: 1rem;
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  background-color: #535353;
  padding: 1rem;
}

.bigger {
  height: 25vh;
}
