<div class="mh">
  <div class="mx-auto"></div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let event of events">
      <div class="card text-bg-light">
        <img
          src="{{ eventImage }}"
          class="card-img-top img-thumbnail"
          alt="..."
        />
        <div class="card-body">
          <h3 class="card-title">{{ event.name }}</h3>
          <p class="lead">
            <i class="bi bi-geo-alt-fill" style="font-size: medium">{{
              event.location
            }}</i>
          </p>
          <p class="card-text text-truncate">{{ event.description }}</p>
          <a class="btn btn-primary" routerLink="detail/{{ event._id }}"
            >Book Now!</a
          >
        </div>
        <div class="card-footer placeholder-glow hstack gap-2">
          {{ event.date | date: "dd/MM/yyyy" }}
          <div class="vr"></div>
          {{ event.date | date: "h:mm a" }}
          <div class="ms-auto">
            <div *ngIf="event.price > 0; else free">
              {{ "€" + event.price }}
            </div>
            <ng-template #free class="ms-auto">Free</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
