<!-- 404 page -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body mx-auto">
          <h1 class="card-title">404 Page</h1>
          <p class="lead">
            <i class="bi bi-geo-alt-fill" style="font-size: medium">
              404 Page
            </i>
          </p>
          <p class="card-text">The page you are looking for does not exist.</p>
          <a class="btn btn-primary" (click)="backHome()">Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
