<div class="card">
  <i class="bi bi-arrow-left-square fs-3" (click)="return()">Back To Events</i>
  <div class="card-header">
    <h4 class="card-title">{{ eventItem.name }}</h4>
    <p class="card-category">{{ eventItem.date }}</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Event Name</label>
          <input
            type="text"
            class="form-control"
            value="{{ eventItem.title }}"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Event Date</label>
          <input
            type="text"
            class="form-control"
            value="{{ eventItem.date }}"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Event Time</label>
          <input
            type="text"
            class="form-control"
            value="{{ eventItem.time }}"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Event Location</label>
          <input
            type="text"
            class="form-control"
            value="{{ eventItem.location }}"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="bmd-label-floating">Event Description</label>
          <textarea class="form-control" rows="5">{{
            eventItem.description
          }}</textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="bmd-label-floating">Event Image</label>
          <input
            type="text"
            class="form-control"
            value="{{ eventItem.image }}"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="bmd-label-floating">Event Price</label>
          <input
            type="text"
            class="form-control"
            value="{{ eventItem.price }}"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="bmd-label-floating">Event Capacity</label>
          <input
            type="text"
            class="form-control"
            value="{{ eventItem.capacity }}"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="bmd-label-floating">Event Organizer</label>
          <input
            type="text"
            class="form-control"
            value="{{ eventItem.organizer }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
